/*
 * JSupervisor REST API
 * JSupervisor is a process management and monitoring service that provides comprehensive control over application processes. This API enables you to:  - Start, stop, and restart processes individually or in bulk - Monitor process status and health - Retrieve process logs and statistics - Configure process behavior and auto-start settings  The API follows RESTful principles and returns JSON responses.
 *
 * The version of the OpenAPI document: 0.0.2
 * Contact: alex.mondshain@gmail.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.alexmond.jsupervisor.client.api;

import com.fasterxml.jackson.core.type.TypeReference;
import org.alexmond.jsupervisor.client.invoker.*;
import org.alexmond.jsupervisor.client.model.PagedModelEntityModelProcessEventEntry;

import java.util.*;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.17.0")
public class ProcessEventEntrySearchControllerApi extends BaseApi {

    public ProcessEventEntrySearchControllerApi() {
        super(Configuration.getDefaultApiClient());
    }

    public ProcessEventEntrySearchControllerApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     *
     *
     * @param processName (optional)
     * @param page        Zero-based page index (0..N) (optional, default to 0)
     * @param size        The size of the page to be returned (optional, default to 20)
     * @param sort        Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @return PagedModelEntityModelProcessEventEntry
     * @throws ApiException if fails to make API call
     */
    public PagedModelEntityModelProcessEventEntry executeSearchProcessevententryGet(@jakarta.annotation.Nullable String processName, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort) throws ApiException {
        return this.executeSearchProcessevententryGet(processName, page, size, sort, Collections.emptyMap());
    }


    /**
     *
     *
     * @param processName       (optional)
     * @param page              Zero-based page index (0..N) (optional, default to 0)
     * @param size              The size of the page to be returned (optional, default to 20)
     * @param sort              Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @param additionalHeaders additionalHeaders for this call
     * @return PagedModelEntityModelProcessEventEntry
     * @throws ApiException if fails to make API call
     */
    public PagedModelEntityModelProcessEventEntry executeSearchProcessevententryGet(@jakarta.annotation.Nullable String processName, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort, Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/processEventEntries/search/byProcessName";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarQueryParams.addAll(apiClient.parameterToPair("processName", processName));
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sort", sort));

        localVarHeaderParams.putAll(additionalHeaders);


        final String[] localVarAccepts = {
                "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{};

        TypeReference<PagedModelEntityModelProcessEventEntry> localVarReturnType = new TypeReference<PagedModelEntityModelProcessEventEntry>() {
        };
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType
        );
    }

    /**
     *
     *
     * @param status (optional)
     * @param page   Zero-based page index (0..N) (optional, default to 0)
     * @param size   The size of the page to be returned (optional, default to 20)
     * @param sort   Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @return PagedModelEntityModelProcessEventEntry
     * @throws ApiException if fails to make API call
     */
    public PagedModelEntityModelProcessEventEntry executeSearchProcessevententryGet1(@jakarta.annotation.Nullable String status, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort) throws ApiException {
        return this.executeSearchProcessevententryGet1(status, page, size, sort, Collections.emptyMap());
    }


    /**
     *
     *
     * @param status            (optional)
     * @param page              Zero-based page index (0..N) (optional, default to 0)
     * @param size              The size of the page to be returned (optional, default to 20)
     * @param sort              Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @param additionalHeaders additionalHeaders for this call
     * @return PagedModelEntityModelProcessEventEntry
     * @throws ApiException if fails to make API call
     */
    public PagedModelEntityModelProcessEventEntry executeSearchProcessevententryGet1(@jakarta.annotation.Nullable String status, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort, Map<String, String> additionalHeaders) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/processEventEntries/search/byStatus";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sort", sort));

        localVarHeaderParams.putAll(additionalHeaders);


        final String[] localVarAccepts = {
                "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{};

        TypeReference<PagedModelEntityModelProcessEventEntry> localVarReturnType = new TypeReference<PagedModelEntityModelProcessEventEntry>() {
        };
        return apiClient.invokeAPI(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                localVarPostBody,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                localVarReturnType
        );
    }

    @Override
    public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = {
                "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = {

        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[]{};

        return apiClient.invokeAPI(
                localVarPath,
                method,
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(),
                request,
                localVarHeaderParams,
                localVarCookieParams,
                localVarFormParams,
                localVarAccept,
                localVarContentType,
                localVarAuthNames,
                returnType
        );
    }
}
