$schema: ../docs//modules/ROOT/attachments/jsupervisor-schema.json
server:
  port: 8086
spring:
  application:
    name: simple-boot-supervisor
  task:
    execution:
      thread-name-prefix: "process-pool-"
      pool:
        core-size: 8
        max-size: 20
        queue-capacity: 25

management:
  endpoints:
    web:
      exposure:
        include:
          - "*"

logging:
  level:
    root: info
    sun:
      rmi: info
    javax:
      management:
        remote:
          rmi: info

jsupervisor:
  node-name: local
  process:
    test:
      groups: gr1
      command: "java"
      working-directory: "../work"
      stdout-logfile: test-stdout.log
      stderr-logfile: test-stderr.log
      args:
        - "-version"
      shutdown-timeout: 1m
    sleep:
      groups: gr1
      command: "sleep"
      working-directory: "../work"
      stdout-logfile: sleep-stdout.log
      stderr-logfile: sleep-stderr.log
      args:
        - "10"
    testapp1:
      groups: gr2
      health-check-type: http
      working-directory: "../work"
      application-log: "../work/srv1.log"
      http-health-check-config:
        url: http://localhost:8081/
      command: "java"
      redirect-error-stream: false
      stdout-logfile: testapp1-stdout.log
      stderr-logfile: testapp1-error.log
      url: http://localhost:8081/
      args:
        - "-Dspring.profiles.active=srv1"
        - "-Dspring.application.name=testapp1"
        - "-jar"
        - ../spring-boot-test-app/target/spring-boot-test-app-0.0.3-SNAPSHOT.jar
    testapp2:
      groups: gr2
      health-check-type: actuator
      actuator-health-check:
        actuator-health-url: http://localhost:8082/actuator/health
      command: "java"
      working-directory: "../spring-boot-test-app"
      stdout-logfile: testapp2-stdout.log
      stderr-logfile: testapp2-error.log
      url: http://localhost:8082/
      env:
        SPRING_PROFILES_ACTIVE: srv2
        SPRING_APPLICATION_NAME: testapp1
      args:
        - "-jar"
        - target/spring-boot-test-app-0.0.3-SNAPSHOT.jar






