<div th:fragment="header(title)">
    <head th:fragment="pageHead(title)">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/images/gear-wide-connected.jpg" rel="icon" type="image/jpg">
        <title th:text="${pageModel.title}">Default Title</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    </head>
</div>

