<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/">
        <i class="bi bi-gear-wide-connected"></i> JSuprvisor
    </a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" 
           th:classappend="${activePage == 'processes'} ? 'active' : ''"
           href="/">Processes</a>
        <a class="nav-item nav-link" 
           th:classappend="${activePage == 'events'} ? 'active' : ''"
           href="/events">Events</a>
    </div>
</nav>
