<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4" th:text="${title}">Process Management</h1>
                
                <div class="mb-3">
                    <button class="btn  btn-outline-primary" onclick="location.reload()">
                        <i class="fa-solid fa-arrows-rotate"></i> Refresh
                    </button>
                    <a href="/startAll" class="btn btn-success">
                        Start All Processes
                    </a>
                    <a href="/stopAll" class="btn btn-danger">
                        Stop All Processes
                    </a>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div th:if="${#lists.isEmpty(processes)}" class="alert alert-info">
                            <i class="fas fa-info-circle"></i> No processes found.
                        </div>
                        
                        <div th:unless="${#lists.isEmpty(processes)}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Process ID</th>
                                        <th>Up time</th>
                                        <th>Exit code</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="pr : ${processes}">
                                        <td th:text="${pr.name}">WEB-TEST</td>
                                        <td>
                                            <span th:text="${pr.status}"
                                                  class="badge " th:classappend="${uiconfig.uiStatusClass[pr.status]}" >WEB-TEST</span>
                                        </td>
                                        <td th:text="${pr.pid}">WEB-TEST</td>
<!--                                        <td th:text="${#temporals.format(pr.startTime, 'dd-MM-yyyy HH:mm')}">WEB-TEST</td>-->
                                        <td th:text="${pr.processUptime}">WEB-TEST</td>
                                        <td th:text="${pr.exitCode}">WEB-TEST</td>
                                        <td>
                                            <a th:unless="${pr.isAlive()}" th:href="@{/start/{id}(id=${pr.name})}" class="btn btn-success btn-sm">Start</a>
                                            <a th:if="${pr.isAlive()}" th:href="@{/stop/{id}(id=${pr.name})}" class="btn btn-danger btn-sm">Stop</a>
                                            <a th:if="${pr.isAlive()}" th:href="@{/restart/{id}(id=${pr.name})}" class="btn btn-danger btn-sm">Restart</a>
                                            <a th:href="@{/log/{id}(id=${pr.name})}"  class="btn btn-primary btn-sm">Log</a>
                                            <a th:href="@{/details/{id}(id=${pr.name})}"  class="btn btn-primary btn-sm">Details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="mt-3">
                                <small class="text-muted">
                                    Total users: <span th:text="${#lists.size(processes)}">0</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</th:block>
</body>
</html>
